on: [push]
jobs:
     publish_resume:
      runs-on: ubuntu-latest
      name: Build and publish resume in html pdf docx and rtf
      steps:
        - uses: actions/checkout@v2
        - uses: rlespinasse/github-slug-action@v3.x
        - uses: docker://tdhopper/pandoc-context:latest
          with:
            args: >-
              -c make
        - uses: stefanzweifel/git-auto-commit-action@v4
          with:
            file_pattern: docs/*.pdf docs/*.html
            commit_message: 'Update resume html and pdf'
